<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/globals.css" />
    <link rel="stylesheet" href="/static/styleguide.css" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="frame">
      <div class="overlap-group-wrapper">
        <div class="overlap-group">
          <div class="background-mask"></div>
          <img class="image" src="/img/landing_background.svg" alt="background"/>
          <img class="travelmate-AI" src="/static/img/TravelMate AI.svg"  alt="travelmate h1"/>
          <div class="text-wrapper">Your Ultimate Travel Companion!</div>
          <div class="logo"><div class="div">TRAVELMATE AI</div></div>
          <div class="buttons">
            <div class="button-primary-with">
              <div class="button-name-wrapper"><div class="button-name">Log In</div></div>
            </div>
          </div>
          <div class="sign-up">
            <button class="div-wrapper"><button class="button">Sign up</button></button>
          </div>
          <p class="explore-sri-lanka">
            <span class="span"
              >Explore Sri Lanka effortlessly with TravelMate AI! From real-time landmark detection and
              personalise</span
            >
            <span class="text-wrapper-2">d</span>
            <span class="span">
              itineraries to tailored shopping recommendations, we’ve got you covered. Stay secure with our SOS feature
              offering instant alerts and emergency support</span
            >
          </p>
          <img class="travel-smarter" src="/static/img/TravelsmarterTravelsaferTravelMateAI.svg"  alt="travelmate h2"/>
          <div class="avatar"><img class="shape" src="/static/img/Avatar.png"  alt="avatar of the user"/></div>
        </div>
      </div>
    </div>
  </body>
</html>
